<% include ./partials/header %>
<div class="container">
<div class="row text-center" style="margin-top:130px">
    <center>
<h1>Login to CampGround</h1>
</center>
<br>
<div style="width:30%; margin:0 auto;">
<form action="/login" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div
    <div class="form-group">
        <input class="form-control"type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group" style="margin-top:20px; width:30%; margin-left:410px">
        <button class="btn btn-primary btn-block">Login!</button>
    </div>
</form>
</div>
<a href="/campgrounds" style="margin-left:400px">Go Back</a>
</div>
</div>
<% include ./partials/footer %>